# Python
__pycache__/
*.py[cod]
*.pyo

# Virtual environments
venv/
.venv/

# Environment variables
.env
.env.*

# Node
node_modules/
dist/

# Uploaded files
uploads/

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db